.footer {
    width: 100vw; /* Asegúrate de que ocupe el 100% del ancho de la vista */
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    position: absolute; /* Posición absoluta para alinearlo en la parte inferior */
    bottom: 0; /* Alinearlo en la parte inferior */
    left: 0; /* Asegúrate de que esté alineado a la izquierda */
}

.footer a {
    color: #3c5aa6;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}