.full-width-hr {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
  border: none;
  margin: 0;
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.login-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  }
  
  .user-greeting {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
  }
  
  .logout-button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: #e10202;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #ff1443;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
  }
  
  input {
    width: 93%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    color: black;
  }
  
  button {
    padding: 0.8rem;
    background-color: #e10202;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
  }
  
  button:hover {
    background-color: #ff1443;
  }
  
  .google-button {
    background-color: #e10202;
  }
  
  .google-button:hover {
    background-color: #ff1443;
  }
  
  .github-button {
    background-color: #e10202;
  }
  
  .github-button:hover {
    background-color: #ff1443;
  }
  
  .switch-form-button {
    background-color: transparent;
    color: #e10202;
    text-decoration: underline;
  }
  
  .switch-form-button:hover {
    background-color: transparent;
    color: #ff1443;
  }
  